; http://editorconfig.org/

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[src/lint/linter/**/__tests__/**.lint-test]
indent_style = unset
end_of_line = unset
max_line_length = unset
trim_trailing_whitespace = false

[src/parser/__tests__/bundle/*]
insert_final_newline = false

[src/parser/__tests__/diff/*.{git,hg,rcs,svn,u}diff]
indent_style = unset
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = unset

[src/parser/__tests__/patches/*.{git,hg,rcs,svn,u}patch]
indent_style = unset
trim_trailing_whitespace = false
max_line_length = unset

[src/parser/__tests__/patches/*.gitpatch]
end_of_line = unset

[src/parser/__tests__/**/*.txt]
max_line_length = unset

[src/repository/parser/__tests__/mercurial/*.txt]
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = unset

[src/unit/parser/__tests__/testresults/go.*]
indent_style = unset

[src/unit/parser/__tests__/testresults/xunit.*]
max_line_length = unset

[externals/**]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = false
insert_final_newline = false
