; http://editorconfig.org/

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[src/lint/linter/__tests__/**.lint-test]
indent_style =
end_of_line =
max_line_length =
trim_trailing_whitespace = false

[src/parser/__tests__/bundle/*]
insert_final_newline = false

[src/parser/__tests__/diff/*.{git,hg,rcs,svn,u}diff]
indent_style =
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length =

[src/parser/__tests__/patches/*.{git,hg,rcs,svn,u}patch]
indent_style =
trim_trailing_whitespace = false
max_line_length =

[src/parser/__tests__/patches/*.gitpatch]
end_of_line =

[src/parser/__tests__/**/*.txt]
max_line_length =

[src/repository/parser/__tests__/mercurial/*.txt]
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length =

[src/unit/parser/__tests__/testresults/go.*]
indent_style =

[src/unit/parser/__tests__/testresults/xunit.*]
max_line_length =

[externals/**]
indent_style =
indent_size =
trim_trailing_whitespace = false
insert_final_newline = false
