# NOTE: Thinking about adding files created by your operating system, IDE,
# or text editor here? Don't! Add them to your per-user .gitignore instead.

# Diviner
/docs/
/.divinercache/

# libphutil
/src/.phutil_module_cache

# User extensions
/externals/includes/*
/src/extensions/*
